ul {
  padding-left: 25px;
  padding-right: 25px;
}

.search-form input {
  font-size: 3vh;
}
.search-form {
  margin-top: 30px;
  text-align: center;
}
.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
}
.photo-card {
  align-self: end;
  border: 1px solid black;
}
.gallery img {
  display: block;
  width: 100%;
}
.gallery img:hover {
  cursor: pointer;
}
.stats {
  display: flex;
  width: 100%;
}
.stats-item {
  width: 25%;
  text-align: center;
}

.onOpen {
  overflow: hidden;
}
